<div class="container individual text-center" *ngIf="character">
    <div class="row">
        <div class="col-lg-12">
            <div class="card d-grid gap-2">
                <img [src]="character.image" alt="{{character.name}}" id="character-portrait" class="card-img-top" />
                <div class="card-body">
                    <div class="card-title">Nombre: {{character.name}}
                        <hr> </div>
                    <div class="card-subtitle">Genero: {{character.gender}} <br> Especie: {{character.species}}
                        <br> Estado: {{character.status}}</div>

                </div>
                <button type="button" class="btn btn-outline-primary" routerLink="/characters">Regresar</button>
            </div>
        </div>
    </div>


</div>