<div class="container characters">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Rick and Morty API</a>
            <form class="d-flex">
                <input name="name-search" id="name-search" placeholder="Buscar por nombre" type="text" class="form-control" autocomplete="off" [(ngModel)]="searchTerm" />
                <button type="button" class="btn btn-primary" (click)="getCharacters(1)">Buscar</button>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="characterCall">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Especies</th>
                    <th>Estado</th>
                    <th>Género</th>
                </tr>
            </thead>
            <tbody *ngIf="characterCall.results">
                <tr *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]">
                    <td>{{c.name}}</td>
                    <td><img class="image" [src]="c.image"></td>
                    <td>{{c.species}}</td>
                    <td>{{c.status}}</td>
                    <td>{{c.gender}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="pagination">
        <ul class="pagination" *ngIf="pages">
            <li class="page-item" *ngFor="let p of pages" [ngClass]="{'active': (p===currentPage)}">
                <button class="page-link" (click)="getCharacters(p)">{{p}}</button>
            </li>
        </ul>
    </nav>
</div>